@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  background: black;
  color: rgba(255, 255, 255, 0.87);
  background: url("/bg.svg");
  background-repeat: no-repeat;
  background-size: 120%;
}

.cursor-blink {
  padding-right: 0.25em;
  border-right: 0.05em solid white;
  animation: blink-caret 0.5s step-end infinite;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

* {
  /* outline: 1px solid red; */
}
