@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * General stuff
 */
:root {
  background: #0b0b0c;
  font-size: 16px;
  color-scheme: dark;
}

@media only screen and (min-width: 2000px) {
  :root {
    font-size: 22px;
  }
}

body {
  color: rgba(255, 255, 255, 0.87);
  background: #0b0b0c url("/bg.svg") no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

* {
  /* outline: 1px solid red; */
}

@layer utilities {

  .gradient-shadow {
    box-shadow:
      -1rem 0px 2rem 0px #13ef9335,
      1rem 0px 2rem 0px #149afb35;
  }
}

/* Additional vertical padding used by kbd tag. */
.py-05 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}
